*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    background-color:#b91450 ;
}

.text_purple{
    color: #b91450;
    font-weight: 500;
}

.border_purple{
    border: #b91450 2px solid;
}

.bg_grey{
    background-color:#808080 ;
}

.border_grey{
    border-block: 1px #808080 solid;
}